html {
    font-size: 23px;
    font-family: 'Nanum Gothic', sans-serif;
    color: beige;
  }
.a {
    text-align: center;
    
    padding: 30px;
}
.b {
font-size: 2em;
    text-align: center;
    padding: 30px;}

    html {
        background-image: linear-gradient(
    to bottom,
    
    rgba(85, 85, 85, 0.8),
    rgb(0 0 255 / 40%)

  ), url("nft.png");
      }

      .rts {
        text-shadow: rgb(0, 0, 0) 3px 3px 1px;
      }

      .c {

        font-size: 43px;
        text-align: center;
        padding: 30px;

      }
      .d {
        font-size: 70px;
      }